package view

type AuthFormData struct {
	Username        string
	Password        string
	ConfirmPassword string
	Error           string
}

templ Login() {
	@layout("Login") {
		@LoginForm(AuthFormData{})
	}
}

templ Register() {
	@layout("Register") {
		@RegisterForm(AuthFormData{})
	}
}

templ RegisterForm(data AuthFormData) {
	<section class="card auth">
		<form class="form" hx-post="/api/register" hx-target="closest section" hx-swap="outerHTML" autocomplete="off">
			<input type="text" name="username" placeholder="Username" value={ data.Username } autocomplete="off" required/>
			<input type="password" name="password" placeholder="Password" value={ data.Password } autocomplete="off" required/>
			<input type="password" name="confirmPassword" placeholder="Confirm password" value={ data.ConfirmPassword } autocomplete="off" required/>
			<input type="submit" value="Register"/>
			<a class="link" hx-boost="true" hx-target="body" hx-swap="innerHTML" href="/login">Login...</a>
			@ErrorContainer(data.Error)
		</form>
	</section>
}

templ LoginForm(data AuthFormData) {
	<section class="card auth">
		<form class="form" hx-post="/api/login" hx-target="closest section" hx-swap="outerHTML">
			<input type="text" name="username" placeholder="Username" autocomplete="username" value={ data.Username } required/>
			<input type="password" name="password" placeholder="Password" autocomplete="current-password" value={ data.Password } required/>
			<input type="submit" value="Login"/>
			<a class="link" hx-boost="true" hx-target="body" href="/register" hx-swap="innerHTML">Register...</a>
			@ErrorContainer(data.Error)
		</form>
	</section>
}
