package view

import "github.com/Valeron93/todo-app/internal/model"

templ Index(user model.User, todos []model.Todo) {
	@layout("Todo App") {
		<section class="card">
			<div class="header">
				<p class="user">Logged in as { user.Username }</p>
				<form action="/api/logout" method="post">
					<input type="submit" value="Logout"/>
				</form>
			</div>
			@TodoForm("", "")
			@TodoTable(todos)
		</section>
	}
}
