{{ define "index" }}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
        <title>Todo App</title>
    </head>
    <body>
        <p>Logged in as {{ .User.Username }}</p>
        <form action="/logout" method="post">
            <input type="submit" value="Logout">
        </form>
        {{ template "todo-form" . }}
        <div id="todo-list">
            {{ range .Todos }}
                {{ template "todo-item" . }}
            {{ end }}
        </div>
    </body>
    </html>

{{ end }}

{{ define "register" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <form action="/register" method="post">
            <input type="text" name="username" required>
            <input type="text" name="password" required>
            <input type="submit">
        </form>
    </body>
    </html>
{{ end }}