{{ define "title" }}Todo App in Go{{ end }}

{{ define "body" }}
    <section class="card">
        <div class="header">
            <p class="user">Logged in as {{ .User.Username }}</p>
            <form action="/api/logout" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>

        {{ template "todo-form" . }}

        <div id="todo-list" class="todo-list">
            {{ range .Todos }}
                {{ template "todo-item" . }}
            {{ end }}
        </div>
    </section>
{{ end }}
